<div align="left">
  <table>
    <tr>
      <% if @user.settings(:user_show_settings).show_name %>
        <td><strong>Name: &nbsp;</strong></td>
        <td><%= @user.full_name %> &nbsp;</td>
      <% end %>
      <% if @user.settings(:user_show_settings).show_email %>
        <td><strong>Email: &nbsp;</strong></td>
        <td><%= @user.email %> &nbsp;</td>
      <% end %>
    </tr>
    <tr>
      <% if @user.settings(:user_show_settings).show_birthday %>
        <td><strong>Birthday: &nbsp;</strong></td>
        <td><%= @user.settings(:user_settings).birthday %> &nbsp;</td>
      <% end %>
      <% if @user.settings(:user_show_settings).show_website %>
        <td><strong>Website: &nbsp;</strong></td>
        <td><%= @user.settings(:user_settings).website %> &nbsp;</td>
      <% end %>
    </tr>
  </table>
  <hr />
  <strong>Bio:</strong> <br />
  <%= @user.settings(:user_settings).bio %>
</div>
<hr />