<div align="center">
  <%= will_paginate %>
    <div class='row'>
      <table class="user-list table table-striped">
        <tr>
          <th>Avatar</th>
          <th>Username</th>
          <th>Role</th>
          <% if can? :manage, :all %>
            <th>Actions</th>
          <% end %>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to gravatar_for(user), user_path(user) %>
            </td>
            <td>
              <%= link_to( truncate(user.username, length: 16).html_safe, user_path(user)) %> <br />
              <%= pluralize(user.articles.count, 'Article') if user.articles %>
            </td>
            <td>
              <%= user.role.capitalize %>
            </td>
            <td>
              <% if (can? :destroy, User) && can_be_destroyed(user) %>
                <%= link_to "Delete this user", user_path(user), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete this user and their articles"} %>
              <% end %>
              <% if (can? :update, User) || (current_user == user) %>
                <%= link_to "Edit Profile", edit_profile_path(user), class: 'btn btn-xs btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <%= will_paginate %>
</div>