<h3 class="page-header">
  <%= @user.username %>'s Profile
  <% if (can? :update, User) || (current_user == @user) %>
    <%= link_to 'Edit Profile', edit_profile_path(@user), class: 'btn btn-primary btn-xs' %>
  <% end %>
</h3>

<%= render 'users/profile' %>

<h3 class="page-header header-sm"><%= @user.username %>'s Articles</h3>
<% if @user.articles.count > 0 %>
  <%= render 'articles/article', obj: @user_articles %>
<% else %>
  <p class="lead">This user hasn't written any articles</p>
<% end %>

<%= link_to "Back", users_path, class: "btn btn-primary" %>
